<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IndyCommunity</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>controller.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStudyThreadsServlet</display-name>
    <servlet-name>DisplayStudyThreadsServlet</servlet-name>
    <servlet-class>controller.DisplayStudyThreadsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStudyThreadsServlet</servlet-name>
    <url-pattern>/DisplayStudyThreadsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewStudyingThreadServlet</display-name>
    <servlet-name>NewStudyingThreadServlet</servlet-name>
    <servlet-class>controller.NewStudyingThreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewStudyingThreadServlet</servlet-name>
    <url-pattern>/NewStudyingThreadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchReviewServlet</display-name>
    <servlet-name>SearchReviewServlet</servlet-name>
    <servlet-class>controller.SearchReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchReviewServlet</servlet-name>
    <url-pattern>/SearchReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReviewServlet</display-name>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <servlet-class>controller.SubmitReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <url-pattern>/SubmitReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidLoginServlet</display-name>
    <servlet-name>InvalidLoginServlet</servlet-name>
    <servlet-class>controller.InvalidLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidLoginServlet</servlet-name>
    <url-pattern>/InvalidLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>